{% extends "base.html" %}
{% load static %}
{% block title %}
Преподаватели
{% endblock %}
{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/teachers.css' %}">
{% endblock %}
{% block content %}
    <main>
        <section class="teachers-section">
            <h2 class="teachers-title">Ваши преподаватели</h2>

            <!-- Кнопки для фильтрации преподавателей 
            <div class="filter-buttons">
                <a href="#" class="filter-btn active">Ваши преподаватели</a>
                <a href="#" class="filter-btn">Преподаватели вашего факультета</a>
                <a href="#" class="filter-btn">Все преподаватели</a>
            </div>
        -->
            <!-- Поле для поиска преподавателей -->
            <div class="search-container">
                <input type="text" placeholder="Поиск преподавателей..." class="search-input">
                <button class="search-button">Найти по всему ВУЗу</button>
            </div>

            <!-- Секции с преподавателями по предметам -->
            <div class="subject-section">
                <h3 class="subject-title"></h3>
                <div class="teachers-group scrollable-group">
                    {%for teacher in teachers%}
                    <div class="teacher-card">
                        <div class="teacher-photo-container">
                            {% if teacher.image %}
                            <img src="{{teacher.image.url}}" alt="{{teacher.last_name}}" class="teacher-photo" target="_blank">
                            {% endif %}
                        </div>
                        <div class="teacher-info">
                            <h3>{{teacher.last_name}}</h3>
                            <p>Стаж: {{teacher.experience}} лет</p>
                        </div>
                    </div>
                    {%endfor%}

                </div>
            </div>

        <!--    <div class="subject-section">
                <h3 class="subject-title">Физика</h3>
                <div class="teachers-group">
                    <div class="teacher-card">
                        <div class="teacher-photo-container">
                            <img src="img/pr4.jpg" alt="Петров П.П." class="teacher-photo">
                        </div>
                        <div class="teacher-info">
                            <h3>Петров П.П.</h3>
                            <p>Стаж: 8 лет</p>
                        </div>
                    </div>
                    <div class="teacher-card">
                        <div class="teacher-photo-container">
                            <img src="img/pr5.jpg" alt="Сидорова Л.М." class="teacher-photo">
                        </div>
                        <div class="teacher-info">
                            <h3>Сидорова Л.М.</h3>
                            <p>Стаж: 9 лет</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="subject-section">
                <h3 class="subject-title">Химия и Программирование</h3>
                <div class="teachers-group">
                    <div class="teacher-card">
                        <div class="teacher-photo-container">
                            <img src="img/pr6.jpg" alt="Сидоров С.С." class="teacher-photo">
                        </div>
                        <div class="teacher-info">
                            <h3>Пидоров К.И.</h3>
                            <p>Стаж: 12 лет</p>
                        </div>
                    </div>
                    <div class="teacher-card">
                        <div class="teacher-photo-container">
                            <img src="img/pr7.jpg" alt="Тарасов И.Н." class="teacher-photo">
                        </div>
                        <div class="teacher-info">
                            <h3>Долбоёбов В.Ш.</h3>
                            <p>Стаж: 9 лет</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="subject-section">
                <h3 class="subject-title">Экономика</h3>
                <div class="teachers-group">
                    <!-- Убрано для Экономики, преподаватель уже в Математике
                </div>
            </div> -->
        </section>
    </main>

    <script src="script.js"></script>
    {% endblock %}