{% extends "base.html" %}
{% load static %}
{% block title %}
Расписание
{% endblock %}
{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/schedule.css' %}">
{% endblock %}
{% block content %}
        <section class="schedule">
            <h2 class="schedule-title">Расписание</h2>
            <div class="schedule-container">
                <nav class="schedule-nav">
                    <ul>
                        <li><a href="{% url 'schedule:show_schedule' type='today' %}">Сегодня</a></li>
                        <li><a href="{% url 'schedule:show_schedule' type='tomorrow' %}">Завтра</a></li>
                        <li><a href="{% url 'schedule:show_schedule' type='week' %}">Эта неделя</a></li>
                        <li><a href="{% url 'schedule:show_schedule' type='next_week' %}">Следующая неделя</a></li>
                    </ul>
                </nav>
                {% if request.path != '/schedule/week/' and  request.path != '/schedule/next_week/'%}
                <table>
                    <thead>
                        <tr>
                            <th class="number-header">Номер пары</th>
                            <th>Название пары</th>
                        </tr>
                    </thead>
                    <tbody>
                        {%for lesson in lessons%}
                        {% include "includes/table.html" %}
                        {% endfor %}
                    </tbody>
                </table>
                {% else %}
                <table>
                    <thead>
                        <tr>
                            <th class="number-header">День недели</th>
                            <th class="number-header">Номер пары</th>
                            <th>Название пары</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr><td rowspan="6">Понедельник</td>
                        {%for lesson in lessons.0%}
                        {% include "includes/table.html" %}
                        {% endfor %}
                    </tr>
                    <tr><td rowspan="6">Вторник</td>
                    {%for lesson in lessons.1%}
                    {% include "includes/table.html" %}
                    {% endfor %}
                </tr>
                    <tr><td rowspan="6">Среда</td>
                    {%for lesson in lessons.2%}
                    {% include "includes/table.html" %}
                    {% endfor %}
                </tr>
                <tr><td rowspan="6">Четверг</td>
                {%for lesson in lessons.3%}
                {% include "includes/table.html" %}
                {% endfor %}
            </tr>
            <tr><td rowspan="6">Пятница</td>
            {%for lesson in lessons.4%}
            {% include "includes/table.html" %}
            {% endfor %}
        </tr>
        <tr><td rowspan="6">Суббота</td>
        {%for lesson in lessons.5%}
        {% include "includes/table.html" %}
        {% endfor %}
    </tr>
                        </tbody>
                </table>
                {% endif %}
            </div>
        </section>

        <aside class="history">
            <h2>История событий</h2>
            <div class="history-item">
                <h3>Саня Лозицкий: БФИ2202</h3>
                <p>Добавил файл с инфомарцией о зачётах. <a href="#">Перейти</a></p>
            </div>
            <div class="history-item">
                <h3>МТУСИ</h3>
                <p>Новое расписание звонков с 19.09.2024. <a href="#">Скачать</a></p>
            </div>
            <div class="history-item">
                <h3>Саня Лозицкий: БФИ2202</h3>
                <p>Добавил описание Курсовой работы по ОС <a href="#">Перейти</a></p>
            </div>
            <div class="history-item new-block">
                <h3>Данечка Сидорук: БФИ2202</h3>
                <p>Добавил конспект Лекции№7 по предмету Системное программирование </p>
            </div>
            <div class="history-item new-block">
                <h3>Староста БФИ2202</h3>
                <p>Практика 12.08.2024 была перенесена на дистант <a href="#">Подробнее...</a></p>
            </div>
        </aside>
{% endblock %}
