<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Категории файлов</title>
</head>
<body>
    <h1>Категории файлов для {{ subject.name }}</h1>
    <ul>
        {% for category in categories %}
        <li>
            <a href="{% url 'subjects:file_list' subject.id category %}">{{ category|capfirst }}</a>
        </li>
        {% endfor %}
    </ul>
    <a href="/subjects/">Перейти на страницу предметов</a>
</body>
</html>
