<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Файлы для {{ subject.name }} - {{ category|capfirst }}</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/file.css' %}">
</head>
<body>
    <header>
      <div class="header-container">
          <nav class="nav">
              <ul>
                  <li><a href="{% url 'schedule:show_schedule' type='today' %}">Расписание</a></li>
                  <li><a href="{% url 'teachers:show_teachers' %}">Преподаватели</a></li>
                  <li><a href="{% url 'subjects:show_subjects' %}" class="active">Предметы</a></li>
              </ul>
          </nav>
          {% if user.is_authenticated %}
          <a href="{% url 'users:lk' %}">
              <div class="user">
                  <div class="user-info">
                      <span class="user-name"> {{user.first_name}} {{user.last_name}}</span>
                      <span class="user-role">{{user.get_role_display}}</span>
                  </div>
                  <div class="user-icon">
                      <img src="https://avatars.mds.yandex.net/i?id=3c73c7e7d240eb0a4fb8d877774e267f57c07db9-4393175-images-thumbs&n=13" alt="User Icon" />
                  </div>
              </div>
          </a>
          {% endif %}
      </div>
    </header>

    <section class="file-section">
        <h1>Файлы для {{ subject.name }} ({{ category|capfirst }})</h1>

        {% if files %}
        <ul class="file-list">
            {% for file in files %}
            <li>
                <a href="{{ file.file.url }}" target="_blank" class="file-link">{{ file.file.name }}</a>
                <span class="file-uploaded-date">(Загружено: {{ file.uploaded_at|date:"d.m.Y H:i" }})</span>
                <span>Автор: {{ request.user.username }}</span>
            </li>
            {% endfor %}
        </ul>
        {% else %}
        <p>Файлы отсутствуют.</p>
        {% endif %}

        <a href="{% url 'subjects:upload_file' subject.id category %}" class="btn">Добавить файл</a>
        <br>
        <a href="{% url 'subjects:file_categories' subject.id %}" class="btn-back">Назад к категориям</a>
    </section>
</body>
</html>
