{% extends "base.html" %}
{% load static %}

{% block title %}
Загрузка файла для {{ subject.name }} ({{ category|capfirst }})
{% endblock %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'css/file_upload.css' %}">
{% endblock %}

{% block content %}

<section class="file-upload-section">
    <h1>Добавить файл для {{ subject.name }} ({{ category|capfirst }})</h1>

    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn">Загрузить</button>
    </form>

    <br>
    <a href="{% url 'subjects:file_list' subject.id category %}" class="btn">Назад к файлам</a>
</section>
{% endblock %}
