/* Общие стили */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f4f7fc;
    margin: 0;
    padding: 0;
    color: #333;
}

/* Контейнер для страницы */
.container {
    max-width: 1200px;
    margin: 30px auto;
    padding: 40px;
}

/* Заголовок страницы */
.profile-actions {
    font-size: 26px;
    font-weight: bold;
    color: #3e298a;
    margin-bottom: 25px;
    text-align: center;
}

/* Карточка с формой */
.card-body {
    background-color: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    max-width: 500px;
    margin: 0 auto;
}

/* Формы */
form {
    display: flex;
    flex-direction: column;
    gap: 15px; /* Промежуток между полями */
}

form input[type="text"],
form input[type="email"],
form input[type="password"] {
    padding: 12px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 8px;
    transition: border-color 0.3s;
}

form input[type="text"]:focus,
form input[type="email"]:focus,
form input[type="password"]:focus {
    border-color: #3e298a;
    outline: none;
}

/* Кнопка отправки */
form input[type="submit"] {
    background-color: #3e298a;
    color: white;
    font-size: 16px;
    border: none;
    padding: 12px 25px;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
    align-self: center;
}

form input[type="submit"]:hover {
    background-color: #2a1b64;
}

/* Ссылки */
a {
    display: inline-block;
    margin-top: 15px;
    text-align: center;
    color: #3e298a;
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    transition: color 0.3s ease-in-out;
}

a:hover {
    color: #ffcc00;
}

/* Ошибки */
.error {
    color: red;
    font-size: 14px;
    text-align: center;
    margin-top: 10px;
}

/* Контейнер для кнопки регистрации (чтобы центрировать и немного поднять) */
.registration-btn-container {
    display: flex;
    justify-content: center;
    margin-top: 0px; /* Уменьшаем отступ сверху, чтобы поднять кнопку */
}

/* Стили для кнопки регистрации */
.btn-registration {
    padding: 12px 25px;
    font-size: 16px;
    background-color: #f4f7fc; /* Светлый фон */
    color: #3e298a; /* Цвет текста */
    text-decoration: none;
    border: 2px solid #3e298a; /* Рамка такого же цвета */
    border-radius: 8px;
    text-align: center;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.btn-registration:hover {
    background-color: #3e298a; /* Темный фон при наведении */
    color: white; /* Белый цвет текста при наведении */
}


/* Ошибки */
.error {
    color: red;
    font-size: 14px;
    text-align: center;
    margin-top: 10px;
}
