{% load static %}
{% block title %}
{% endblock %}
{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/login.css' %}">
{% endblock %}
{% block content %}
  <div class="container">
    <div class="profile-actions">
        Вход в личный кабинет
    </div>
    <div class="card-body">
      <form method="post" enctype="multipart/form-data" >
        {% csrf_token %}
        {{ form }}
        <input type="submit" value="Войти">
      </form>
    </div>
  </div>

  {% if error %}
    <div class="error">{{ error }}</div>
  {% endif %}

  <div class="registration-btn-container">
      <a href="{% url 'users:registration' %}" class="btn-registration">Регистрация</a>
  </div>
{% endblock %}
