{% load static %}
{% block title %}{% endblock %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/registr.css' %}">
{% endblock %}

{% block content %}
  <div class="container">
    <div class="profile-actions">
      Регистрация пользователя
    </div>
    <div class="card-body">
      <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form }}

        <input type="submit" value="Зарегистрироваться">
      </form>

      <!-- Кнопка для возврата на страницу входа -->
      <div class="login-btn-container">
<a href="/" class="btn-login">Войти</a>

      </div>
    </div>
  </div>
{% endblock %}
